# Coding parameters
# MFCC + acceleration + delta; window = 20 ms, frame = 10 ms, PFRRMCOEF - wzmocnienie, 
# okno hamminga - oczyszczenie sygna³u, 
SOURCEFORMAT = WAV
TARGETKIND = FBANK_A_D_E
# TARGETKIND = FBANK_A_D_E_Z
TARGETRATE = 100000.0
ZMEANSOURCE = T
SAVECOMPRESSED = F
SAVEWITHCRC = F
WINDOWSIZE = 250000.0
USEHAMMING = T
PREEMCOEF = 0.97
NUMCHANS = 40
CEPLIFTER = 22
NUMCEPS = 12
ENORMALISE = F
LOFREQ = 100
HIFREQ = 8000

